* {box-sizing: border-box;}

html {
    height: 100%;
    min-width: 15rem;
}

@font-face {
    font-family: 'Cyber';
    src: url('/assets/SAOUI-Regular.otf') format("opentype");
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Cyber', serif;
    background: url("/assets/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


.logo {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    box-shadow:0 0 8px 0 #066AC6;
    padding: 0.2rem;
    border: 0.1rem solid white;
    /*border-radius: 25%;*/
    text-shadow: 0 0 1rem #066AC6, 0 0 1rem #066AC6;
}

.header {
    overflow: hidden;
    align-items: center;
    background: rgba(7, 4, 16, 0.8);
    box-shadow:0 0 2px 0 #066AC6;
    min-height: 5rem;
    display: flex;
    padding: 0.2rem 1rem 0.2rem 2rem;
}

@media screen and (max-width: 567px) {
    .header {
        flex-direction: column;
        height: auto;
        min-height: 7rem;
        padding-top: 1rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .header-right {
        margin: auto;
        flex-wrap: nowrap;
        margin-top: 0.5rem;
    }
}


.bordered {
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}


.button {
    outline: none;
    color: White;
    font-family: 'Cyber', serif;
    text-align: center;
    min-height: 2rem;
    line-height: 1.8rem;
    width: 6rem;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.5);
    margin: 0.2rem;
    text-shadow: 0 0 1rem #066AC6, 0 0 1rem #066AC6;
    box-shadow:0 0 8px 0 #066AC6;
}

.header-right {
    margin-left: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap-reverse;
}

.header-right a {
    margin-right: auto;
}

/****************************FOOTER***********************************/

.footer {
    width:100%;
    min-height:5rem;
    flex-shrink: 0;
    background: rgba(7, 4, 16, 0.8);
    box-shadow:0 0 2px 0 #066AC6;
    text-shadow: 0 0 2rem #066AC6, 0 0 2rem #066AC6;
    padding-top: 2.2rem;
    text-align: center;
    color: white;
}

.footer a {
    text-decoration: none;
}

/****************************FOOTER***********************************/


/****************************MODAL************************************/
.modal {
    display: none;
    position:fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    align-items: center;
    justify-content: center;
    bottom:0;
    left:0;
    right:0;
    top:0;
}

.modal-container {
    color: white;
    display: flex;
    flex-direction: column;
    width: 25rem;
    background: rgba(7, 4, 16, 0.8);
    box-shadow:0 0 8px 0 #066AC6;
    padding: 3rem;
}

/****************************MODAL************************************/

.form-head {
    margin: auto;
    text-shadow: 0 0 1rem #066AC6, 0 0 1rem #066AC6;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.form-fields {
    max-height: 19rem;
    width: 15rem;
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.form-field {
    /*text-align: center;*/
}

.form-field .error {
    min-height: 2rem;
    line-height: 2rem;
    font-size: 0.85rem;
    color: #ff3232;
    width: 100%;
    text-shadow: 0 0 2rem #066AC6, 0 0 2rem #066AC6;
    text-align: left;
}

.form-fields input {
    width: 100%;
    font-family: 'Cyber', serif;
    border: none;
    box-shadow:0 0 8px 0 #066AC6;
    line-height: 2rem;
    text-align: center;

}

.form-fields p {
    margin: 0;
    margin-top: -0.5rem;
    text-align: right;
}

.form-fields p a{
    margin: 0;
    font-size: 0.6rem;
    font-weight: 100;
    word-spacing: -0.2rem;
    text-decoration: none;
    color: #066AC6;
    text-align: right;
}


.form-fields .input {
    background: rgba(255, 255, 255, 0.03);
    color: white;
    font-size: 0.75rem;
}

.form-fields .checkbox {
    width: 0.8rem;
    font-family: 'Cyber', serif;
    border: none;
    /*box-shadow:0 0 8px 0 #066AC6;*/
    line-height: 2rem;
    text-align: left !important;
}

.submit {
    margin: auto;
    margin-top: 1.5rem;
    width: 80% !important;
    background: rgba(57, 156, 159, 0.8);
}

/****************************GALLERY**********************************/

#empty-gallery{
    display: flex;
    color: white;
    text-shadow: 0 0 2rem #066AC6, 0 0 2rem #066AC6;
    box-shadow: none;
}

#gallery {
    display: none;
}
.gallery {
    margin: auto;
    /*margin-top: 5rem;*/
    display: flex;
    max-width: 80rem;
    box-shadow:0 0 8px 0 #066AC6;
    justify-content: space-between;
/*    height: 100%;*/
    /*margin-bottom: -3rem;*/
}

.gallery span{
    display: block;
    color: white;
}

.gallery .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 65rem;
}

.image {
    padding: 0.5rem;
}

.image img {
    box-shadow:0 0 8px 0 #066AC6;
    width: 100%;
    max-width: 20rem;
}

.left-arrow {
    display: flex;
    width: 4rem;
    background: rgba(6, 106, 198, 0.2);
    align-items: center;
}

.right-arrow {
    display: flex;
    width: 4rem;
    background: rgba(6, 106, 198, 0.2);
    align-items: center;
}

.box {
    width: 100%;
    height: 1rem;
    color: white;
    text-shadow: 0 0 2rem #066AC6, 0 0 2rem #066AC6;
}

.lefter {
    text-align: right;
}


/****************************IMAGEVIEWER******************************/
.img-view-container {
    display: flex;
    flex-direction: column;
    max-height: 30rem;
}

.img-view-body {
    display: block;
    align-self: center;
}

.section{
    display: flex;
    flex-direction: column;
}

.section textarea {
    font-size: 0.8rem;
    box-shadow:0 0 8px 0 #066AC6;
    outline-color: #C02F81;
    font-family: 'Cyber', serif;
    border: 1px solid #888;
    color: white;
    background: rgba(0, 0, 0, 0.1);
    resize: none;
    height: 70px;
    width: 20rem;
    margin-top: 1rem;
    border:none;
}

textarea:active {
    border: 0.01rem solid #C02F81;
    box-shadow: 0 0 2rem 0 #C02F81;
    transition: 0.2s;
}

textarea::placeholder{
    padding: 1.7rem;
    text-align: center;
}

.img-view-like {
    display: flex;
    padding-left: 0.1rem;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 2rem #066AC6, 0 0 2rem #066AC6;
    transition: 0.2s;
    text-align: center;
    align-items: center;
}

.img-view-like  span{
    padding-left: 1rem;
    font-size: 1rem;
    color: #C02F81;
    text-shadow: 0 0 2rem #066AC6, 0 0 2rem #066AC6;
}

.liked {
    color: #C02F81;
    text-shadow: 0 0 2rem #C02F81, 0 0 2rem #C02F81;
    transition: 0.2s
}

.comments {
    max-width: 20rem;
    margin: 0;
    display: flex;
    max-height: 20rem;
    flex-direction: column;
    /*width: 20rem;*/
    background: rgba(7, 4, 16, 0.8);
    box-shadow:0 0 8px 0 #066AC6;
    padding: 0.2rem;
    /*overflow-x: scroll;*/
    list-style: none;
}

.comments .comment {
    margin-left: 1rem;
    max-width: 20rem;
}

.comments .comment .author{
    color: #C02F81;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0 0 2rem #066AC6, 0 0 2rem #066AC6;
    margin-right: 0.5rem;
}

.comments .comment span {
    display: block;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    overflow-wrap: break-word;
}

/*********************************************************************/

/******************************PHOTO-MAKER****************************/
.img-list {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.img-list img {
    width: 3rem;
    height: 3rem;
    padding: 0.1rem;
    background: rgba(255, 255, 255, 0.4);
}

.img-view-container canvas {
    box-shadow:0 0 8px 0 #066AC6;
}

.img-view-container .img-list {
    box-shadow:0 0 8px 0 #066AC6;
}

.button-list {
    display: flex;
    width: 100%;
}

.button-list > button{
    color: rgba(57, 156, 159, 0.8);
    flex-grow: 1;
}

/*********************************************************************/